.GlavniKontejner
{
    display: flex;
    flex-direction: row;
}

table,tr,th, td{
    border: 1px solid black;
}
table
{
    border-collapse: collapse;
}
.Forma1, .Forma2, .Forma3{
    display: flex;
    flex-direction: column;
}
.cbbox{
    display: flex;
    flex-direction: row;
}